@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#miniMenu1, #miniMenu2 {
  /*width: 3.55rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/
  transition-duration: 450ms;
  /*overflow: hidden;*/
}

/* #loadedpage {
  background: none !important;
  pointer-events: none;
  transition-duration: 450ms;
} */

#navbar {
  box-shadow: 0px .5px 3px 0px rgb(0, 0, 0);
  border-bottom: 1px solid rgba(45, 43, 43, 0.25);
  transition: top 0.3s;
  overflow: hidden;
}

#children {
  transition-duration: 450ms;
  
}

#componentText {
  font-family: "JosefinSans";
}

/* EVERYTHING TO DO WITH FONTS */
@font-face {
  font-family: "UbuntuMono-R";
  font-style: normal;
  font-weight: normal;
  src: local("UbuntuMono-R.ttf") url("./fonts/UbuntuMono-R.ttf") format("truetype");
}

@font-face {
  font-family: "UbuntuMono-B";
  font-style: normal;
  font-weight: normal;
  src: local("UbuntuMono-B.ttf") url("./fonts/UbuntuMono-B.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu-R";
  font-style: normal;
  font-weight: normal;
  src: local("Ubuntu-R.ttf") url("./fonts/Ubuntu-R.ttf") format("truetype");
}

@font-face {
  font-family: "JosefinSans";
  font-style: normal;
  font-weight: normal;
  src: local("JosefinSans-Regular.ttf") url("./fonts/JosefinSans-Regular.ttf") format("truetype");
}